/* Cart page styles */
.card {
    border-radius: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    overflow: hidden;
}

.img-container {
    width: 100%;
    height: 100%;
    padding: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.img-container img.img-fluid.card {
    border: none !important;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    overflow: hidden;
    /*border-radius: 8px !important;*/
}


.img-container img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px !important;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
} 

.input-group-sm {
    width: 130px;
}

.card-price {
    color: #2c3e50;
    font-weight: bold;
}

.text-muted {
    font-size: 0.9rem;
}

/* Cart total section */
.cart-total {
    background-color: #f8f9fa;
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin-top: 2rem;
}

/* Empty cart message */
.empty-cart {
    text-align: center;
    padding: 3rem 0;
}